mixin footer()
    footer.footer 
        img(src="image/logo.png" class="logo")
        .footer__content
            .footer__copy © 2020 Кирилин Михаил
            a(href="https://github.com/JanStin")
                img(src="image/github.svg")

//- +footer()