mixin pagination()
    .pagination
        a(href="blog.html").pagination__number &#8656
        a(href="blog.html").pagination__number.pagination__active 1
        a(href="blog.html").pagination__number 2
        a(href="blog.html").pagination__number ...
        a(href="blog.html").pagination__number 105
        a(href="blog.html").pagination__number &#8658



//- +pagination()