mixin pagination()
    .pagination
        a(href="#").pagination__number &#8656
        a(href="#").pagination__number.pagination__active 1
        a(href="#").pagination__number 2
        a(href="#").pagination__number ...
        a(href="#").pagination__number 105
        a(href="#").pagination__number &#8658



//- +pagination()