mixin herotext(title, text)
    .herotext
        .herotext__content 
            h2.herotext__title= title 
            p.herotext__text= text

+herotext('Introducing The User Testing Field Guide', 'We’re excited to launch our awesome free field guide for individuals and teams that have always wanted to get started with usability testing but didn’t know where to start. We’re excited to launch our awesome free field guide for individuals and teams that have always wanted to get started with usability testing but didn’t know where to start. We’re excited to launch our awesome free field guide for individuals and teams that have always wanted to get started with usability testing but didn’t know where to start.')