mixin main()
    section.article
        h1.main-title Заголовок на странице в несколько строк (наверно, в две или нет?). 
        p.simpletext <strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit. Velit delectus pariatur, eaque commodi officiis animi facilis eum. Laborum eius, totam quo labore ipsa numquam sed necessitatibus <i>iure blanditiis consequuntur eveniet.</i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit. <span class="bold">Odit consectetur, tenetur omnis doloremque quos, rerum nisi quibusdam esse numquam voluptas blanditiis sed reprehenderit provident mollitia porro. Quasi saepe fuga doloribus?</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt a laboriosam, suscipit labore consequuntur at nemo excepturi! Fuga provident iste reprehenderit nemo, quia mollitia itaque perspiciatis, ratione, adipisci nisi sapiente!
        p.simpletext Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit delectus pariatur, eaque commodi officiis animi facilis eum. Laborum eius, totam quo labore ipsa numquam sed necessitatibus iure blanditiis consequuntur eveniet. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consectetur, tenetur omnis doloremque quos, rerum nisi quibusdam esse numquam voluptas blanditiis sed reprehenderit provident mollitia porro. Quasi saepe fuga doloribus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt a laboriosam, suscipit labore consequuntur at nemo excepturi! Fuga provident iste reprehenderit nemo, quia mollitia itaque perspiciatis, ratione, adipisci nisi sapiente!
        p.simpletext Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit delectus pariatur, eaque commodi officiis animi facilis eum. Laborum eius, totam quo labore ipsa numquam sed necessitatibus iure blanditiis consequuntur eveniet. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consectetur, tenetur omnis doloremque quos, rerum nisi quibusdam esse numquam voluptas blanditiis sed reprehenderit provident mollitia porro. Quasi saepe fuga doloribus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt a laboriosam, suscipit labore consequuntur at nemo excepturi! Fuga provident iste reprehenderit nemo, quia mollitia itaque perspiciatis, ratione, adipisci nisi sapiente!
        h3.subtitle_levelthree 3 level
        p.simpletext Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit delectus pariatur, eaque commodi officiis animi facilis eum. Laborum eius, totam quo labore ipsa numquam sed necessitatibus iure blanditiis consequuntur eveniet. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consectetur, tenetur omnis doloremque quos, rerum nisi quibusdam esse numquam voluptas blanditiis sed reprehenderit provident mollitia porro. Quasi saepe fuga doloribus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt a laboriosam, suscipit labore consequuntur at nemo excepturi! Fuga provident iste reprehenderit nemo, quia mollitia itaque perspiciatis, ratione, adipisci nisi sapiente!
        img(src="image/w.jpg", class="images")
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero ab cupiditate et voluptatum officia similique perferendis earum dolorum laboriosam blanditiis debitis dolores, architecto itaque alias harum tempora minima accusantium quam.
        h2.subtitle Заголовок второго уровня
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti eaque impedit ipsam facilis, velit consequuntur ducimus labore totam vero, molestias quisquam repudiandae, vel ipsa! Voluptatibus deleniti expedita vel accusamus unde?
        ul
            li Dot
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li Dot 
            li Dot
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum ratione laboriosam, recusandae incidunt iure quisquam quae autem, inventore necessitatibus beatae blanditiis aliquid adipisci reiciendis odit dolorem a quibusdam impedit aspernatur!
        img(src="image/t.jpg" class="images")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quos voluptatum, blanditiis at debitis, cupiditate repellendus earum suscipit voluptates deserunt distinctio ab error repudiandae dignissimos, sequi natus non sit et.
        ol
            li Цифры
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li Цифры
            li Цифры
            li Цифры

+main()