mixin main()
    section
        h1 Заголовок на странице в несколько строк (наверно, в две).
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit delectus pariatur, eaque commodi officiis animi facilis eum. Laborum eius, totam quo labore ipsa numquam sed necessitatibus iure blanditiis consequuntur eveniet. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consectetur, tenetur omnis doloremque quos, rerum nisi quibusdam esse numquam voluptas blanditiis sed reprehenderit provident mollitia porro. Quasi saepe fuga doloribus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt a laboriosam, suscipit labore consequuntur at nemo excepturi! Fuga provident iste reprehenderit nemo, quia mollitia itaque perspiciatis, ratione, adipisci nisi sapiente!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero ab cupiditate et voluptatum officia similique perferendis earum dolorum laboriosam blanditiis debitis dolores, architecto itaque alias harum tempora minima accusantium quam.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti eaque impedit ipsam facilis, velit consequuntur ducimus labore totam vero, molestias quisquam repudiandae, vel ipsa! Voluptatibus deleniti expedita vel accusamus unde?
        ul
            li Первый
            li Первый
            li Первый
            li Первый
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum ratione laboriosam, recusandae incidunt iure quisquam quae autem, inventore necessitatibus beatae blanditiis aliquid adipisci reiciendis odit dolorem a quibusdam impedit aspernatur!
        img(src="image/t.jpg")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quos voluptatum, blanditiis at debitis, cupiditate repellendus earum suscipit voluptates deserunt distinctio ab error repudiandae dignissimos, sequi natus non sit et.
        ul
            ol Точки
            ol Точки
            ol Точки
            ol Точки


+main()