mixin card()
    .card
        a(href="page.html")
            img(src="image/card-img.jpg", class="card__image")
        p.card__tag
            a(href="#") Тестирование
        .card__content 
            h3.card__title
                a(href="page.html") Заголовок карточки в четыре слова Заголовок карточки в четыре слова
            p.card__description Первые обзоры The Last of Us Part II от критиков и изданий появились ещё неделю назад — игра получила высокие оценки, а её рейтинг на Metacritic составил 95 баллов на основе 94 ревью.Первые обзоры The Last of Us Part II от критиков и изданий появились ещё неделю назад — игра получила высокие оценки, а её рейтинг на Metacritic составил 95 баллов на основе 94 ревью.Первые обзоры The Last of Us Part II от критиков и изданий появились ещё неделю назад — игра получила высокие оценки, а её рейтинг на Metacritic составил 95 баллов на основе 94 ревью.Первые обзоры The Last of Us Part II от критиков и изданий появились ещё неделю назад — игра получила высокие оценки, а её рейтинг на Metacritic составил 95 баллов на основе 94 ревью.
            .card__button 
                a(href="#" class="card__abutton") Читать 



//- +card()