mixin card()
    .card 
        img(src="image/card-img.jpg", alt="")
        p.card__tag Тестирование
        h3.card__title Заголовок карточки в четыре слова
        p.card__description Первые обзоры The Last of Us Part II от критиков и изданий появились ещё неделю назад — игра получила высокие оценки, а её рейтинг на Metacritic составил 95 баллов на основе 94 ревью.
        a(href="") Читать 



+card()