mixin line-card()
    .line-card
        h3 Заголовок статьи - третий!
        p.line-card__date 28.07.2020 19:37
        .line-card__option 
            input(type="submit", value="Редактировать" class="line-card__button")
            input(type="submit", value="Удалить" class="line-card__button")

+line-card()