
mixin heroblock({title, subtitle = '', image})
    .heroblock(style="background-image: url(image/" + image + ")")
        .heroblock__content
            h1.main-title= title
            h2.main-subtitle= subtitle


+heroblock({
    title: 'Title must long',
    subtitle: 'Subtitle',
    image: 'rubyfoodfight.png'
})