
mixin heroblock({title, subtitle = '', image, button})
    .heroblock(style="background-image: url(https://i.pinimg.com/originals/84/e2/d1/84e2d1d901e0eeed8a866c3cb401985a.jpg")
        .heroblock__content
            h2.heroblock__subtitle= subtitle
            h1.heroblock__title= title
            p.heroblock__button= button
            


//- +heroblock({
//-     title: 'My name is Misha Kirilin',
//-     subtitle: "I'm a programmer",
//-     image: 'rubyfoodfight.png',
//-     button: 'Узнать больше'
//- })