
mixin heroblock({title, subtitle = '', image, button})
    .heroblock(style="background-image: url(image/mountain.jpg")
        .heroblock__content
            h2.heroblock__subtitle= subtitle
            h1.heroblock__title= title
            p.heroblock__button= button
            


//- +heroblock({
//-     title: 'My name is Misha Kirilin',
//-     subtitle: "I'm a programmer",
//-     image: 'rubyfoodfight.png',
//-     button: 'Узнать больше'
//- })