// $main-font: 'Montserrat'

//https://color.romanuke.com/tsvetovaya-palitra-3702/
$main-color-1: #a4dbe4
$main-color-2: #fa990e
$main-color-3: #fecc47
$main-color-4: #5b8d27
$main-color-5: #114b0b

// Еще варианты:
// https://color.romanuke.com/tsvetovaya-palitra-3797/
// https://color.romanuke.com/tsvetovaya-palitra-1393/
// https://color.romanuke.com/tsvetovaya-palitra-1254/