extends base/base.pug
block content
    .about
        img(src="image/me.jpg" class="about__image")
        .article
            h1.maintitle.maintitle_margin Я программист
            p.simpletext Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!
            p.simpletext Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!
            p.simpletext Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!
            p.simpletext Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!
            p.simpletext Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!
            p.simpletext Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!
            p.simpletext Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!
            p.simpletext Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!
            p.simpletext Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!
            p.simpletext Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!
            p.simpletext Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!
            p.simpletext Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!