extends base/base.pug
block content
    .article 
        h1.maintitle Заголовок статьи
        p.simpletext Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati doloribus voluptatum nulla inventore repellendus tempora commodi dolores aperiam officia, beatae vitae minus maxime similique culpa deserunt omnis ducimus, doloremque hic.
        p.simpletext Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati doloribus voluptatum nulla inventore repellendus tempora commodi dolores aperiam officia, beatae vitae minus maxime similique culpa deserunt omnis ducimus, doloremque hic.
        img(src="image/1m.jpg" class="images")