mixin header()
    header.header
        img(src="image/logo.png" class="logo")
        nav
            ul.header__ul 
                li.header__li 
                    a(href="#") Главная
                li.header__li 
                    a(href="#") Блог
                li.header__li 
                    a(href="#") Обо мне

+header()