mixin form()
    form(action="" class="form")
    label
        input(type="text")
    label
        input(type="password")
    label
        input(type="checkbox")
    input(type="button", value="Вход")

+form()